.button_group {
  display: flex;
  justify-content: center;
}

.button {
  margin: 10px;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(156, 23, 156);
  line-height: 42px;
  padding: 0;
  border: none;
}

.button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
}

.button::before,
.button:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  background: rgb(206, 85, 230);
}

.button:before {
  height: 0%;
  width: 2px;
}

.button:after {
  width: 0%;
  height: 2px;
}

.button:hover {
  background: transparent;
  box-shadow: none;
}

.button:hover:before {
  height: 100%;
}

.button:hover:after {
  width: 100%;
}

.button span:hover {
  color: rgb(232, 82, 195);
}

.button span:before,
.button span:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: rgb(206, 85, 230);
}

.button span:before {
  width: 2px;
  height: 0%;
}

.button span:after {
  width: 0%;
  height: 2px;
}

.button span:hover:before {
  height: 100%;
}

.button span:hover:after {
  width: 100%;
}
